In [2]:
import pandas as pd
import seaborn as sb
import numpy as np

print("succesful")

succesful

In [104]:
print(pd.__version__)
df = pd.read_csv("housing.csv")
df

1.5.3

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [107]:
#2 - no. of columns
df.shape[1]

10

In [108]:
# 3 - which columns have missing values
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [111]:
# 4 - ocean_proximity unique values
np.count_nonzero(df.ocean_proximity.unique())

5

In [115]:
# 5 - average value of median_house_value
df.median_house_value.loc[df.ocean_proximity == 'NEAR BAY'].mean()

259212.31179039303

In [119]:
# 6 - check for change after padding/filling total_bedrooms
ndf = df.total_bedrooms.fillna(df.total_bedrooms.mean())
ndf.isna().sum()
df.total_bedrooms.mean()
change = ndf.mean() - df.total_bedrooms.mean()
print(abs(round(change, 3)))

0.0

In [120]:
#7 - Linear Regression
df.ocean_proximity.unique()
col = ['housing_median_age', 'total_rooms', 'total_bedrooms']
X = df.loc[(df.ocean_proximity == 'ISLAND'), col].values
XTX = X.dot(X.T)
XTXi = np.linalg.inv(XTX)
y = np.array([950, 1300, 800, 1000, 1300])
w = y.dot(XTXi.dot(X.T))
w

ValueError: shapes (5,5) and (3,5) not aligned: 5 (dim 1) != 3 (dim 0)